work-x/7VeeM3ZFj7ag2A3A.json
{
  "createdAt": "2024-10-07T18:36:44.401Z",
  "updatedAt": "2024-11-06T14:26:57.153Z",
  "id": "7VeeM3ZFj7ag2A3A",
  "name": "personal bot ultrapassado",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "databaseId": 141726,
        "tableId": 362261,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 2714890,
                "value": "={{ $json.body.sender }} "
              },
              {
                "field": 2714890,
                "value": "={{ $json.body.data.key.remoteJid }}"
              }
            ]
          }
        }
      },
      "id": "8cfe8dde-0653-445d-a332-fdee58d970a1",
      "name": "Baserow - Get user",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -800,
        520
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "0caec3d8-6f4a-4366-be90-6145b647848a",
              "leftValue": "={{ !!Object.keys($node[\"Baserow - Get user\"].data).length }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "62310a43-c9ef-410f-8cf2-918eec019a1a",
      "name": "usuario existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -600,
        680
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 141726,
        "tableId": 362261,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 2714890,
              "fieldValue": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "fieldId": 2714890,
              "fieldValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            }
          ]
        }
      },
      "id": "183233c0-cf0f-4814-9212-a0c994396545",
      "name": "Baserow -  Creater User",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -380,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f8bd8cd0-5c06-4ce4-9c64-e96d29e29a2d",
              "leftValue": "={{ $json.thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "49ee0850-2854-414e-86dc-168faba39425",
      "name": "Possui Thread?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        60,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "id": "d7893711-ae15-4282-a2bc-91865a21f334",
      "name": "Criar Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        780
      ],
      "credentials": {
        "openAiApi": {
          "id": "RhJGnAesg7rbO4uq",
          "name": "primeiro assistent"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 141726,
        "tableId": 362261,
        "rowId": "={{ $('Merge - User').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 2714865,
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "25e77aa9-1645-4805-a16b-3e944709a2cf",
      "name": "Baserow - Update",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        460,
        980
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assistant_id",
              "value": "asst_HqKGZoYDF7jxtb7AxOfYPdiS"
            }
          ]
        },
        "options": {}
      },
      "id": "59cbe56a-89c7-4706-b912-3f0feee7650f",
      "name": "Run Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        620
      ],
      "credentials": {
        "openAiApi": {
          "id": "RhJGnAesg7rbO4uq",
          "name": "primeiro assistent"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{ $('Merge - User').last().json.thread_id }}/runs/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "id": "10e39b41-c515-40fc-96b6-9554fcef03c5",
      "name": "Run status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        620
      ],
      "credentials": {
        "openAiApi": {
          "id": "RhJGnAesg7rbO4uq",
          "name": "primeiro assistent"
        }
      }
    },
    {
      "parameters": {
        "amount": 4
      },
      "id": "282d25c3-afc5-4a5b-a812-61006dece084",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        780
      ],
      "webhookId": "ed9e3d66-0cc3-4547-ad05-8d23f4a19ed6"
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{ $('Run status').last().json.thread_id }}/messages?order=desc",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "id": "bb9ca2ae-251d-482c-9940-312a061b2a45",
      "name": "Get Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        640
      ],
      "credentials": {
        "openAiApi": {
          "id": "RhJGnAesg7rbO4uq",
          "name": "primeiro assistent"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automation-evolution-app.nzix4c.easypanel.host/message/sendText/teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "3CA6606265B3-4830-A030-FDEAE9BAFABC"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.data[0].content[0].text.value }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "9db53825-a86b-4635-85ed-6e97654095df",
      "name": "Retorno EVO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "4b69ecdf-8b6d-4570-b06d-2a317b9a7b1a",
              "leftValue": "={{ $json.body.data.message.conversation }}",
              "rightValue": "/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "26cfaaed-0e8d-4c97-a027-d29982a8f132",
              "leftValue": "={{ $json.body.data.message.extendedTextMessage.text }}",
              "rightValue": "/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c16952e1-1e9d-4e0e-b27e-54d49a6eb54f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1040,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0fe48a0e-3734-4e7f-868b-b61b2a651839",
              "leftValue": "={{ $('Webhook').last().json.body.data.message.extendedTextMessage.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6c40ab4-5344-4807-82e2-9faa06994bbb",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        260,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $('Merge - User').last().json.thread_id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "role",
              "value": "user"
            },
            {
              "name": "content",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}"
            }
          ]
        },
        "options": {}
      },
      "id": "950fe22e-bb4c-4e48-87b8-9a7ea7f1c1f0",
      "name": "Criar mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        620
      ],
      "credentials": {
        "openAiApi": {
          "id": "RhJGnAesg7rbO4uq",
          "name": "primeiro assistent"
        }
      }
    },
    {
      "parameters": {},
      "id": "86ec649a-72ee-4bd3-b2e5-74249a6ce87f",
      "name": "Merge - User",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -160,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $('Merge - User').last().json.thread_id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "role",
              "value": "user"
            },
            {
              "name": "content",
              "value": "={{ $('Webhook').last().json.body.data.message.extendedTextMessage.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1fa59bed-80d9-45b9-8d7a-324f9c5db512",
      "name": "Criar mensagem1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        460
      ],
      "credentials": {
        "openAiApi": {
          "id": "RhJGnAesg7rbO4uq",
          "name": "primeiro assistent"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "queued",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "queued"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "eb3d9b23-5c60-4529-bdaf-ee1659e1b23d",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "in_progress",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "in_progress"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "80537d71-2bb5-41a4-b673-d32b69532be1",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            }
          ]
        },
        "options": {}
      },
      "id": "f0d66901-afd1-4e27-a0f2-23c707876d0c",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        1160,
        620
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recebe-mensagem",
        "options": {}
      },
      "id": "7e193ef4-ca04-484e-890c-c756ad07813b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1220,
        700
      ],
      "webhookId": "cbe2954a-2bd5-4cb1-84ff-769808f022bb"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "supa"
      },
      "id": "580d3f91-c392-443f-9696-1d3615daebe0",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -800,
        680
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xGKs5yYdHLqCN239",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "id": "387be365-b084-461a-a462-be7fb87005b9",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -380,
        660
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xGKs5yYdHLqCN239",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get"
      },
      "id": "bd843aae-3200-49c7-9bcc-801381cac8cf",
      "name": "Supabase2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        780
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xGKs5yYdHLqCN239",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Baserow - Get user": {
      "main": [
        []
      ]
    },
    "usuario existe?": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Baserow -  Creater User": {
      "main": [
        []
      ]
    },
    "Possui Thread?": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Thread": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow - Update": {
      "main": [
        []
      ]
    },
    "Run Thread": {
      "main": [
        [
          {
            "node": "Run status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Run status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message": {
      "main": [
        [
          {
            "node": "Retorno EVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run status": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Criar mensagem1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar mensagem": {
      "main": [
        [
          {
            "node": "Run Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - User": {
      "main": [
        [
          {
            "node": "Possui Thread?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar mensagem1": {
      "main": [
        [
          {
            "node": "Run Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "usuario existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Merge - User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Merge - User",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e5d73bbb-b6f9-4e0a-8438-9bed87b4659b",
  "triggerCount": 0,
  "tags": []
}