work-x/FCD1OW3uiL8NFHQi.json
{
  "createdAt": "2024-10-25T18:24:59.767Z",
  "updatedAt": "2024-10-30T13:04:50.365Z",
  "id": "FCD1OW3uiL8NFHQi",
  "name": "futuro projeto de webhook unico",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f16b1bf-1a3e-4029-8d7a-1bccb919ee43",
              "name": "message.message_id",
              "value": "={{ $('input evolution').item.json.body.data.key.id || '' }}",
              "type": "string"
            },
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $('input evolution').item.json.body.data.key.remoteJid || '' }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ $('input evolution').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('input evolution').item.json.body.data.message.imageMessage ? 'image' : '' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $('input evolution').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('input evolution').item.json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.timestamp",
              "value": "={{ $('input evolution').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.content_url",
              "value": "={{ $('input evolution').item.json.body.data.message.audioMessage?.url || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.url || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $('input evolution').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4a1887f5-b948-4507-9db5-52a47d7d18a0",
      "name": "normalizacao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        360
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21bfb962-f5eb-4689-b492-91843213a94c",
                    "leftValue": "={{ $json.message.content_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0bcea227-d544-4ea5-941f-82dc9de9310d",
                    "leftValue": "={{ $json.message.content_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "42dbe4cc-1d7a-4fb6-aa3a-5da974b0a75b",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        300,
        360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "175d293f-57e9-4d13-a2c2-136709d9a18a",
      "name": "Execute Workflow1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        740,
        360
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "30136abd-b3db-4ae5-9188-cc8d5bcff723",
      "name": "Execute Workflow2",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        620,
        580
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "geral",
        "options": {}
      },
      "id": "11a37626-871e-42b7-aed7-fc53f73f5422",
      "name": "input evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        360
      ],
      "webhookId": "5ff4e083-c2da-4a73-9d17-96389e92c620"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "cachedResultName": ""
        },
        "options": {}
      },
      "id": "847a6483-a71f-433b-8481-b3ae8a458fc8",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        540,
        180
      ]
    }
  ],
  "connections": {
    "normalizacao": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input evolution": {
      "main": [
        [
          {
            "node": "normalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "input evolution": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n-principal.tkbczu.easypanel.host",
            "user-agent": "axios/1.7.4",
            "content-length": "1076",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-n8n-principal.tkbczu.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e6ce9d964610",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "teste",
            "data": {
              "key": {
                "remoteJid": "554799471522@s.whatsapp.net",
                "fromMe": false,
                "id": "3FCC000CE96641DE9185"
              },
              "pushName": "Ralf Fischer",
              "message": {
                "extendedTextMessage": {
                  "text": "salve",
                  "contextInfo": {
                    "expiration": 0,
                    "ephemeralSettingTimestamp": "0",
                    "disappearingMode": {
                      "initiator": "CHANGED_IN_CHAT"
                    }
                  }
                },
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "a4JSQdDSD43N5g==",
                    "senderTimestamp": "1728654780",
                    "recipientKeyHash": "MF2MWPipHm1gXQ==",
                    "recipientTimestamp": "1728655143"
                  },
                  "deviceListMetadataVersion": 2
                }
              },
              "contextInfo": {
                "expiration": 0,
                "ephemeralSettingTimestamp": "0",
                "disappearingMode": {
                  "initiator": "CHANGED_IN_CHAT"
                }
              },
              "messageType": "extendedTextMessage",
              "messageTimestamp": 1729882342,
              "instanceId": "340a7d67-b858-4933-a10a-8825b6f6be28",
              "source": "unknown"
            },
            "destination": "https://n8n-n8n-principal.tkbczu.easypanel.host/webhook-test/geral",
            "date_time": "2024-10-25T15:52:23.014Z",
            "sender": "5521980410426@s.whatsapp.net",
            "server_url": "https://evo-evolution-app.tkbczu.easypanel.host",
            "apikey": "BE8510C8CFE4-4CED-958D-5394E78C88C2"
          },
          "webhookUrl": "https://n8n-n8n-principal.tkbczu.easypanel.host/webhook-test/geral",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "a78f802c-af52-4f04-a6bb-8c513fc02965",
  "triggerCount": 0,
  "tags": []
}