work-x/i5ye1JjcocLgwDfc.json
{
  "createdAt": "2024-12-16T12:22:06.365Z",
  "updatedAt": "2025-01-27T17:37:23.984Z",
  "id": "i5ye1JjcocLgwDfc",
  "name": "Agendamento com lembrete",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "5bd5ab4f-95df-44f1-a4a3-2ccd342c6f11",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -380,
        620
      ],
      "credentials": {
        "openAiApi": {
          "id": "RhJGnAesg7rbO4uq",
          "name": "primeiro assistent"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "id": "96870dba-5aef-4035-bca4-d9ccade7ab78",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -440,
        880
      ]
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "id": "6b02233d-99fe-4d8d-8fc2-e28b091d1999",
      "name": "Chat Memory Manager",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -700,
        700
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "123ea379-c32a-4a5f-987f-cfce041a289f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        340
      ],
      "webhookId": "0e27e5eb-136a-4ec0-8bf7-b8e9dd5543ce",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "custom",
        "customFormat": "EEEE, MMMM dd yyyy 'at' hh:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "a6c1f39c-2c98-4880-b414-6d453642c7fe",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -540,
        340
      ],
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "=Você é um assistente de agendamento, deve auxiliar o usuário a criar e gerenciar os eventos em sua agenda\ne salva o nome do evento no calendar junto com a data\nA data de agora em inglês é:  {{ $json.formattedDate }}\nResponda sempre em português e no fuso horário de Brasilia.\nAntes de excluir algum evento, sempre consulte o id dele antes."
        }
      },
      "id": "459ef837-517f-4410-8291-a8fdff7abe1e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -340,
        440
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "frajola1662@gmail.com",
          "mode": "list",
          "cachedResultName": "frajola1662@gmail.com"
        },
        "eventId": "={{ $fromAI(\"Event_ID\",\"Id do evento que deve ser excluído\") }}",
        "options": {}
      },
      "id": "ca5a5577-bbea-4541-ab93-18908d88917c",
      "name": "Deletar Evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.1,
      "position": [
        -280,
        720
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rUhJVege1szYIpCS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "frajola1662@gmail.com",
          "mode": "list",
          "cachedResultName": "frajola1662@gmail.com"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $fromAI(\"Initital_DateTime\", \"Data e hora inicial da consulta Ex.: 2024-10-17 00:00:00\") }}",
          "timeMax": "={{ $fromAI(\"Final_DateTime\", \"Data e hora final da consulta Ex.: 2024-10-17 00:00:00\") }}",
          "timeZone": {
            "__rl": true,
            "value": "America/Sao_Paulo",
            "mode": "list",
            "cachedResultName": "America/Sao_Paulo"
          }
        }
      },
      "id": "d1d78a1e-49f5-4b41-ae02-ac45dd210f72",
      "name": "Buscar Eventos",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.1,
      "position": [
        -160,
        740
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rUhJVege1szYIpCS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "frajola1662@gmail.com",
          "mode": "list",
          "cachedResultName": "frajola1662@gmail.com"
        },
        "start": "={{ $fromAI(\"Start_Time\",\"Horário inicial do evento ex.:2024-10-08 00:00:00\") }}",
        "end": "={{ $fromAI(\"End_Time\",\"Horário final do evento ex.:2024-10-08 00:01:00\") }}",
        "additionalFields": {}
      },
      "id": "f5fc8dcf-87e2-47d3-891a-0a26bd1d3498",
      "name": "Criar Eventos",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.1,
      "position": [
        -40,
        700
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rUhJVege1szYIpCS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo-evo.tkbczu.easypanel.host/message/sendText/teste2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "C2A3CC58B828-4184-93D8-8ABBB1EDC168"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "bc8ff8ea-d767-48a2-ac6c-4e94555a0b9a",
      "name": "Retorno EVO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zap",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        540
      ],
      "id": "b0bd072f-5948-475a-80c4-43abca8dcb05",
      "name": "Webhook",
      "webhookId": "2f6d7a82-04b8-48a6-a767-81c60ee706d5"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "custom",
        "customFormat": "EEEE, MMMM dd yyyy 'at' hh:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "782ef836-179e-489e-a507-1b2a0673848b",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -540,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "{{ $('Date & Time').item.json.formattedDate }}\n{{ $('When chat message received').item.json.chatInput }}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        220
      ],
      "id": "0fe483df-9ad1-48dc-a6ea-86f6ef70adaf",
      "name": "Code",
      "disabled": true
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar Evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar Eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Retorno EVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "16e5707f-67b9-4e9b-92dc-c4fb86e8b005",
  "triggerCount": 0,
  "tags": []
}