work-x/i5ye1JjcocLgwDfc.json
{
  "createdAt": "2024-12-16T12:22:06.365Z",
  "updatedAt": "2024-12-17T17:32:31.866Z",
  "id": "i5ye1JjcocLgwDfc",
  "name": "Agendamento com lembrete",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "5bd5ab4f-95df-44f1-a4a3-2ccd342c6f11",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -440,
        580
      ],
      "credentials": {
        "openAiApi": {
          "id": "RhJGnAesg7rbO4uq",
          "name": "primeiro assistent"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "id": "96870dba-5aef-4035-bca4-d9ccade7ab78",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -420,
        940
      ]
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "id": "6b02233d-99fe-4d8d-8fc2-e28b091d1999",
      "name": "Chat Memory Manager",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -760,
        720
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "123ea379-c32a-4a5f-987f-cfce041a289f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -820,
        440
      ],
      "webhookId": "0e27e5eb-136a-4ec0-8bf7-b8e9dd5543ce"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "custom",
        "customFormat": "EEEE, MMMM dd yyyy 'at' hh:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "a6c1f39c-2c98-4880-b414-6d453642c7fe",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -600,
        440
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=Você é um assistente de agendamento, deve auxiliar o usuário a criar e gerenciar os eventos em sua agenda\nA data de agora em inglês é:  {{ $('Date & Time').item.json.formattedDate }}\nResponda sempre em português e no fuso horário de Brasilia.\nAntes de excluir algum evento, sempre consulte o id dele antes."
        }
      },
      "id": "459ef837-517f-4410-8291-a8fdff7abe1e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -340,
        440
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "24b9db97ddacba24782282e4f0f3782110741366dc9e34b1ad6f18fb66f905d0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Agendamento Gravação"
        },
        "eventId": "={{ $fromAI(\"Event_ID\",\"Id do evento que deve ser excluído\") }}",
        "options": {}
      },
      "id": "ca5a5577-bbea-4541-ab93-18908d88917c",
      "name": "Deletar Evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.1,
      "position": [
        -280,
        720
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "24b9db97ddacba24782282e4f0f3782110741366dc9e34b1ad6f18fb66f905d0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Agendamento Gravação"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $fromAI(\"Initital_DateTime\", \"Data e hora inicial da consulta Ex.: 2024-10-17 00:00:00\") }}",
          "timeMax": "={{ $fromAI(\"Final_DateTime\", \"Data e hora final da consulta Ex.: 2024-10-17 00:00:00\") }}",
          "timeZone": {
            "__rl": true,
            "value": "America/Sao_Paulo",
            "mode": "list",
            "cachedResultName": "America/Sao_Paulo"
          }
        }
      },
      "id": "d1d78a1e-49f5-4b41-ae02-ac45dd210f72",
      "name": "Buscar Eventos",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.1,
      "position": [
        -160,
        760
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "24b9db97ddacba24782282e4f0f3782110741366dc9e34b1ad6f18fb66f905d0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Agendamento Gravação"
        },
        "start": "={{ $fromAI(\"Start_Time\",\"Horário inicial do evento ex.:2024-10-08 00:00:00\") }}",
        "end": "={{ $fromAI(\"End_Time\",\"Horário final do evento ex.:2024-10-08 00:01:00\") }}",
        "additionalFields": {}
      },
      "id": "f5fc8dcf-87e2-47d3-891a-0a26bd1d3498",
      "name": "Criar Eventos",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.1,
      "position": [
        -40,
        720
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar Evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar Eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7c0052fe-97bc-4cdd-a208-5ab86d7fcd51",
  "triggerCount": 0,
  "tags": []
}