work-x/lGMe8FNFiWe3Sj5p.json
{"createdAt":"2024-10-25T19:00:34.565Z","updatedAt":"2024-10-29T18:09:42.246Z","id":"lGMe8FNFiWe3Sj5p","name":"backup n8n github","active":false,"nodes":[{"parameters":{},"id":"5d5f700a-a2fa-4840-a5c9-f016d9261f49","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[540,380]},{"parameters":{"filters":{},"requestOptions":{}},"id":"de53e738-7870-40dc-841f-00af3459c3bb","name":"puxa os flow","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[900,380],"credentials":{"n8nApi":{"id":"LlPyWlmkvcik6Uew","name":"n8n account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('infos basic').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('infos basic').item.json.repository }}","mode":"url"},"filePath":"=workflows-x/{{ $json.id }}.json","additionalParameters":{}},"id":"56b1673a-ec20-4588-b1c3-f32fc0c09c8e","name":"GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[1060,220],"credentials":{"githubOAuth2Api":{"id":"tmlVcAaS7zF2bEP1","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"584cbc47-3edb-440b-abb2-e45e1d92c383","name":"owner","value":"ralfiischer","type":"string"},{"id":"4abf4065-0c49-428d-a084-08d2e82dd7f9","name":"repository","value":"workflows","type":"string"}]},"options":{}},"id":"3ccd2460-a0fe-4d71-9733-6bcd6c34a7c8","name":"infos basic","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,380]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"={{ $('infos basic').item.json.owner }}","mode":"url"},"repository":{"__rl":true,"value":"={{ $('infos basic').item.json.repository }}","mode":"url"},"filePath":"=workflows-x/{{ $('dados workflow').item.json.data.id }}.json","binaryData":true,"commitMessage":"={{ $('dados workflow').item.json.data.name }}"},"id":"910a31ec-0964-492b-94e7-4675aa8924f4","name":"GitHub1","type":"n8n-nodes-base.github","typeVersion":1,"position":[1440,540],"credentials":{"githubOAuth2Api":{"id":"tmlVcAaS7zF2bEP1","name":"GitHub account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"format":true,"fileName":"={{ $json.data.id }}.json"}},"id":"f7fbfc2c-9079-4ee9-88ea-478829e64e68","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1260,540]},{"parameters":{"assignments":{"assignments":[{"id":"47e6eabb-7f59-496b-acdc-6137a1494ccb","name":"data","value":"={{ $json}}","type":"object"}]},"options":{}},"id":"6bcf1efa-cedf-442a-85c8-f115bea8ab08","name":"dados workflow","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,540]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"infos basic","type":"main","index":0}]]},"puxa os flow":{"main":[[{"node":"GitHub","type":"main","index":0},{"node":"dados workflow","type":"main","index":0}]]},"infos basic":{"main":[[{"node":"puxa os flow","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"GitHub1","type":"main","index":0}]]},"dados workflow":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8bc42fed-1e72-4e71-b317-f66b26bed942","triggerCount":0,"tags":[]}