work-x/n4OxgTQddPpyarGW.json
{
  "createdAt": "2024-11-05T13:12:37.654Z",
  "updatedAt": "2024-11-11T13:06:47.619Z",
  "id": "n4OxgTQddPpyarGW",
  "name": "Retorno formulário",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sitezada",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -780,
        -160
      ],
      "id": "f795caa5-6266-4431-9100-b19d3e201963",
      "name": "Webhook",
      "webhookId": "2a7c0b29-1b7d-463b-ae7a-1470860025f5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8fb0f157-c4eb-4a0d-a68d-4e48472f0788",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "ec354474-a626-47cd-aeeb-6c8e64c4399a",
              "name": "nome",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "bdc51e90-e029-410a-8846-2f9256a66800",
              "name": "contato",
              "value": "={{ $json.body.contact }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -580,
        -160
      ],
      "id": "07e74ddb-c542-4661-bf2a-f578b7190267",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo-evolution-app.tkbczu.easypanel.host/message/sendText/teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "BE8510C8CFE4-4CED-958D-5394E78C88C2"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.contato }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}{{ $json.message.content }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "38ce120a-8506-418e-879a-98c02ab1b4f8",
      "name": "Retorno EVO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        -160
      ]
    },
    {
      "parameters": {
        "toolDescription": "obtem informações do site da afill",
        "url": "https://afill.com.br",
        "optimizeResponse": true,
        "responseType": "text"
      },
      "id": "bbf3679f-94f3-4498-9256-c2a195fe127f",
      "name": "base de conhecimento",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -300,
        20
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={\n  \"assistant\": {\n    \"name\": \"Afill Virtual Assistant\",\n    \"initial_message\": \"Olá, {{ $json.nome }}! Seja bem-vindo. Em que posso ajudar você hoje?\",\n    \"response_settings\": {\n      \"format\": \"resumido e rápido\",\n      \"content\": \"informações detalhadas e precisas\",\n      \"source\": \"base de conhecimento da Afill\",\n      \"tone\": \"amigável e profissional\"\n    },\n    \"conversation_flow\": {\n      \"examples\": [\n        {\n          \"user\": \"Quais são os principais documentos necessários para exportação?\",\n          \"assistant\": \"Para exportação, os principais documentos são:\\n1. Fatura Comercial\\n2. Lista de Embalagem\\n3. Certificado de Origem\\n4. Conhecimento de Embarque (Bill of Lading)\\n5. Licença de Exportação (se aplicável)\"\n        },\n        {\n          \"user\": \"Como calcular as tarifas aduaneiras?\",\n          \"assistant\": \"As tarifas aduaneiras são calculadas com base no valor CIF da mercadoria, que inclui o custo, seguro e frete. A alíquota varia conforme o tipo de produto e o país de destino. Recomendo consultar a tabela tarifária específica na base de conhecimento da Afill.\"\n        }\n      ]\n    },\n    \"additional_behavior\": {\n      \"clarity\": \"Evitar jargões complexos; ser claro e direto\",\n      \"efficiency\": \"Responder prontamente para manter a fluidez da conversa\",\n      \"update\": \"Assegurar que as informações estejam atualizadas conforme a base de conhecimento da Afill\",\n      \"fallback\": \"Caso a dúvida não esteja na base de conhecimento, informar que irá encaminhar a questão para um atendente humano.\"\n    },\n    \"implementation_tips\": {\n      \"knowledge_base_integration\": \"Certificar-se de que a assistente tenha acesso atualizado e estruturado à base de conhecimento da Afill para fornecer respostas precisas.\",\n      \"conversation_testing\": \"Realizar testes com diferentes tipos de perguntas para garantir que a assistente responda de acordo com as diretrizes estabelecidas.\",\n      \"continuous_feedback\": \"Monitorar as interações e coletar feedback dos usuários para aprimorar continuamente as respostas e a eficácia da assistente.\",\n      \"error_handling\": \"Implementar respostas amigáveis para casos de erros ou perguntas não reconhecidas.\"\n    }\n  },\n  \"prompt\": {\n    \"content\": \"Você é a assistente virtual da Afill. Ao iniciar uma conversa, envie:\\n\\n\\\"Olá, {{user_name}}! Seja bem-vindo. Em que posso ajudar você hoje?\\\"\\n\\nA partir daí, responda a todas as perguntas de forma resumida e rápida, mas fornecendo informações detalhadas e precisas. Utilize a base de conhecimento da Afill para buscar as informações necessárias sobre importação, exportação e comércio exterior. Mantenha um tom amigável e profissional em todas as interações. Se a pergunta estiver fora da sua base de conhecimento, informe que irá encaminhar a questão para um atendente humano.\"\n  },\n  \"fallback_response\": \"Desculpe, não consegui encontrar uma resposta para isso. Vou encaminhar sua pergunta para um de nossos atendentes que poderá ajudá-lo melhor.\"\n}\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -380,
        -160
      ],
      "id": "8dec998a-9b96-4d81-ba0a-39d24b3f7d5f",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "RhJGnAesg7rbO4uq",
          "name": "primeiro assistent"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base de conhecimento": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Retorno EVO": {
      "main": [
        []
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Retorno EVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e4a7989a-7346-478e-859d-0c4bfb01160c",
  "triggerCount": 1,
  "tags": []
}