work-x/Ni9gY3QvOxscPUdV.json
{
  "createdAt": "2025-01-09T13:48:23.064Z",
  "updatedAt": "2025-01-09T14:57:47.738Z",
  "id": "Ni9gY3QvOxscPUdV",
  "name": "SaaS",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retorno",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -900,
        -220
      ],
      "id": "74f71121-a1ca-46bb-982a-b20bd29315a5",
      "name": "Webhook1",
      "webhookId": "b86b9992-6d2c-4d17-843d-c64a09b389b3"
    },
    {
      "parameters": {
        "path": "index",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bd408dec-af85-4600-8c3a-ea67c3ea3d77",
      "name": "Serve Frontend",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -900,
        -380
      ],
      "webhookPath": "frontend",
      "method": "GET",
      "responseMode": "onReceived",
      "responseData": {
        "body": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Análise de Conversas</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      justify-content: center;\n      height: 100vh;\n    }\n    .container {\n      max-width: 400px;\n      width: 100%;\n      text-align: center;\n    }\n    textarea {\n      width: 100%;\n      height: 150px;\n      margin-bottom: 10px;\n    }\n    button {\n      background-color: #45DE71;\n      border: none;\n      padding: 10px 15px;\n      color: white;\n      cursor: pointer;\n      border-radius: 5px;\n    }\n    button:disabled {\n      background-color: #ccc;\n    }\n    #result {\n      margin-top: 20px;\n      white-space: pre-wrap;\n      text-align: left;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Análise de Conversas</h1>\n    <textarea id=\"conversation\" placeholder=\"Cole a conversa aqui...\"></textarea>\n    <button id=\"analyzeButton\">Analisar Conversa</button>\n    <div id=\"result\"></div>\n  </div>\n\n  <script>\n    const analyzeButton = document.getElementById('analyzeButton');\n    const conversationInput = document.getElementById('conversation');\n    const resultDiv = document.getElementById('result');\n\n    analyzeButton.addEventListener('click', async () => {\n      const conversation = conversationInput.value.trim();\n      if (!conversation) {\n        alert('Por favor, insira uma conversa para análise.');\n        return;\n      }\n\n      analyzeButton.disabled = true;\n      resultDiv.textContent = 'Analisando...';\n\n      try {\n        const response = await fetch('/webhook/process', {\n          method: 'POST',\n          headers: {\n            'Content-Type': 'application/json',\n          },\n          body: JSON.stringify({ conversation }),\n        });\n\n        if (!response.ok) {\n          throw new Error('Erro ao analisar a conversa.');\n        }\n\n        const result = await response.json();\n        resultDiv.textContent = `Resultado da Análise:\\n\\n${result.analysis}`;\n      } catch (error) {\n        resultDiv.textContent = 'Erro: Não foi possível analisar a conversa.';\n      } finally {\n        analyzeButton.disabled = false;\n      }\n    });\n  </script>\n</body>\n</html>"
      },
      "responseHeaders": [
        {
          "name": "Content-Type",
          "value": "text/html"
        }
      ],
      "webhookId": "18c4a0d9-b4fd-48ea-a3ec-02eca69abfbb"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Contato</title>\n    <style>\n        /* Reset básico */\n        html, body, div, span, applet, object, iframe,\n        h1, h2, h3, h4, h5, h6, p, blockquote, pre,\n        a, abbr, acronym, address, big, cite, code,\n        del, dfn, em, img, ins, kbd, q, s, samp,\n        small, strike, strong, sub, sup, tt, var,\n        b, u, i, center,\n        dl, dt, dd, ol, ul, li,\n        fieldset, form, label, legend,\n        table, caption, tbody, tfoot, thead, tr, th, td,\n        article, aside, canvas, details, embed, \n        figure, figcaption, footer, header, hgroup, \n        menu, nav, output, ruby, section, summary,\n        time, mark, audio, video {\n            margin: 0;\n            padding: 0;\n            border: 0;\n            font-size: 100%;\n            font: inherit;\n            vertical-align: baseline;\n        }\n        /* Box sizing */\n        *, *::before, *::after {\n            box-sizing: border-box;\n        }\n\n        /* Estilos do Corpo */\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #e0f7fa;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            min-height: 100vh;\n            position: relative;\n            overflow: hidden;\n            padding: 20px;\n        }\n\n        /* Fundo */\n        .background {\n            position: fixed;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            z-index: -1;\n            background-image: url('https://files.oaiusercontent.com/file-NeC7W2bXPeRQahrJz95isD?se=2025-01-09T14%3A18%3A27Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3De343f41f-b7f9-48ff-99e3-9b03e06abcfd.webp&sig=WsXE6At%2BeR0efvS7NkwhDoHC9UVtDCmnUNV1cbWzjQM%3D');\n            background-size: cover;\n            background-position: center;\n            opacity: 0.3;\n        }\n\n        /* Container do Formulário e Mensagem de Agradecimento */\n        .container, .thank-you {\n            background-color: #ffffff;\n            border-radius: 10px;\n            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n            padding: 20px 30px;\n            width: 100%;\n            max-width: 400px;\n            box-sizing: border-box;\n            text-align: left; /* Alinhamento à esquerda */\n            z-index: 1;\n            transition: all 0.3s ease-in-out;\n        }\n\n        /* Ocultar o Thank You inicialmente */\n        .thank-you {\n            display: none;\n        }\n\n        /* Títulos */\n        h2 {\n            color: #007bb5;\n            margin-bottom: 15px;\n            font-size: 20px;\n            text-align: center; /* Centralizar o título */\n        }\n\n        /* Grupos de Formulário */\n        .form-group {\n            margin-bottom: 15px;\n            width: 100%;\n        }\n\n        /* Rótulos */\n        label {\n            color: #007bb5;\n            font-weight: bold;\n            display: block;\n            margin-bottom: 5px;\n            font-size: 14px;\n        }\n\n        /* Inputs */\n        input {\n            width: 100%;\n            padding: 10px 12px;\n            border: 1px solid #007bb5;\n            border-radius: 5px;\n            font-size: 14px;\n            outline: none;\n            transition: border-color 0.3s;\n        }\n\n        input:focus {\n            border-color: #005f86;\n        }\n\n        /* Container do Campo de Contato Integrado */\n        .contact-container {\n            position: relative;\n            display: flex;\n            align-items: center;\n            width: 100%;\n            height: 40px; /* Reduzir altura para campos menores */\n        }\n\n        /* Seletor de País Personalizado */\n        .custom-select {\n            position: absolute;\n            left: 10px;\n            top: 50%;\n            transform: translateY(-50%);\n            width: 24px;\n            height: 18px;\n            cursor: pointer;\n            z-index: 3;\n        }\n\n        .custom-select img {\n            width: 100%;\n            height: 100%;\n            border-radius: 3px;\n        }\n\n        /* Dropdown de Opções */\n        .custom-options {\n            position: absolute;\n            top: 100%;\n            left: 0;\n            width: 100%;\n            background-color: #ffffff;\n            border: 1px solid #007bb5;\n            border-radius: 5px;\n            max-height: 150px;\n            overflow-y: auto;\n            display: none;\n            z-index: 4; /* Aumentar z-index para ficar acima dos outros elementos */\n            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n            margin-top: 5px;\n        }\n\n        .custom-option {\n            display: flex;\n            align-items: center;\n            padding: 8px 12px;\n            cursor: pointer;\n            transition: background-color 0.2s;\n        }\n\n        .custom-option:hover, .custom-option[aria-selected=\"true\"] {\n            background-color: #f0f7fa;\n        }\n\n        .custom-option img {\n            width: 20px;\n            height: 15px;\n            margin-right: 8px;\n            border-radius: 2px;\n        }\n\n        /* Campo de Telefone */\n        .phone-input {\n            width: 100%;\n            padding: 10px 12px 10px 40px; /* Espaço à esquerda para a bandeira */\n            border: 1px solid #007bb5;\n            border-radius: 5px;\n            font-size: 14px;\n            outline: none;\n            transition: border-color 0.3s;\n        }\n\n        .phone-input:focus {\n            border-color: #005f86;\n        }\n\n        /* Botões */\n        button {\n            width: 100%;\n            padding: 10px;\n            background-color: #007bb5;\n            color: #ffffff;\n            border: none;\n            border-radius: 5px;\n            cursor: pointer;\n            font-size: 16px;\n            transition: background-color 0.3s ease;\n        }\n\n        button:hover {\n            background-color: #005f86;\n        }\n\n        /* Mensagem de Agradecimento */\n        .thank-you-message {\n            color: #007bb5;\n            font-size: 16px;\n            line-height: 1.4;\n            margin: 15px 0;\n        }\n\n        /* Responsividade */\n        @media (max-width: 480px) {\n            .container, .thank-you {\n                padding: 20px 20px;\n            }\n\n            .contact-container {\n                flex-direction: column;\n                align-items: flex-start;\n                height: auto; /* Ajustar altura para layout vertical */\n            }\n\n            .custom-select {\n                position: relative;\n                left: 10px;\n                top: 10px;\n                transform: none;\n                margin-bottom: 8px;\n                width: 24px;\n                height: 18px;\n            }\n\n            .phone-input {\n                padding-left: 40px; /* Ajustar padding para mobile */\n                width: 100%;\n                height: 40px; /* Manter altura consistente */\n            }\n\n            input {\n                height: 40px; /* Garantir altura consistente */\n            }\n\n            .custom-options {\n                max-height: 150px;\n            }\n\n            .custom-option {\n                padding: 8px 12px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"background\" aria-hidden=\"true\"></div>\n    <div class=\"container\" id=\"formContainer\">\n        <h2>Olá, Por favor, preencha os seguintes campos!</h2>\n        <form id=\"contactForm\" action=\"https://n8n-n8n-principal.tkbczu.easypanel.host/webhook/sitezada\" method=\"post\" novalidate>\n            <div class=\"form-group\">\n                <label for=\"email\">Email:</label>\n                <input type=\"email\" id=\"email\" name=\"email\" required placeholder=\"Digite seu email\" aria-required=\"true\">\n            </div>\n            <div class=\"form-group\">\n                <label for=\"name\">Nome:</label>\n                <input type=\"text\" id=\"name\" name=\"name\" required placeholder=\"Digite seu nome\" aria-required=\"true\">\n            </div>\n            <div class=\"form-group\">\n                <label for=\"senha\">Senha:</label>\n                <input type=\"password\" id=\"senha\" name=\"senha\" required placeholder=\"Digite sua senha\" aria-required=\"true\">\n            </div>\n            <div class=\"form-group\">\n                <label for=\"contact\">Contato:</label>\n                <div class=\"contact-container\">\n                    <!-- Seletor de País Personalizado -->\n                    <div class=\"custom-select\" id=\"customSelect\" aria-haspopup=\"listbox\" aria-expanded=\"false\" role=\"button\" tabindex=\"0\" aria-label=\"Selecione o país\">\n                        <!-- Bandeira Inicial -->\n                        <img src=\"https://flagcdn.com/24x18/br.png\" alt=\"Brasil\" id=\"currentFlag\">\n                    </div>\n\n                    <!-- Dropdown de Opções fora do custom-select -->\n                    <div class=\"custom-options\" id=\"customOptions\" role=\"listbox\" tabindex=\"-1\">\n                        <div class=\"custom-option\" data-value=\"+55\" data-flag=\"br\" role=\"option\" aria-selected=\"false\" tabindex=\"0\">\n                            <img src=\"https://flagcdn.com/24x18/br.png\" alt=\"Brasil\">Brasil (+55)\n                        </div>\n                        <div class=\"custom-option\" data-value=\"+1\" data-flag=\"us\" role=\"option\" aria-selected=\"false\" tabindex=\"0\">\n                            <img src=\"https://flagcdn.com/24x18/us.png\" alt=\"Estados Unidos\">Estados Unidos (+1)\n                        </div>\n                        <div class=\"custom-option\" data-value=\"+44\" data-flag=\"gb\" role=\"option\" aria-selected=\"false\" tabindex=\"0\">\n                            <img src=\"https://flagcdn.com/24x18/gb.png\" alt=\"Reino Unido\">Reino Unido (+44)\n                        </div>\n                        <div class=\"custom-option\" data-value=\"+49\" data-flag=\"de\" role=\"option\" aria-selected=\"false\" tabindex=\"0\">\n                            <img src=\"https://flagcdn.com/24x18/de.png\" alt=\"Alemanha\">Alemanha (+49)\n                        </div>\n                        <div class=\"custom-option\" data-value=\"+34\" data-flag=\"es\" role=\"option\" aria-selected=\"false\" tabindex=\"0\">\n                            <img src=\"https://flagcdn.com/24x18/es.png\" alt=\"Espanha\">Espanha (+34)\n                        </div>\n                        <div class=\"custom-option\" data-value=\"+33\" data-flag=\"fr\" role=\"option\" aria-selected=\"false\" tabindex=\"0\">\n                            <img src=\"https://flagcdn.com/24x18/fr.png\" alt=\"França\">França (+33)\n                        </div>\n                        <div class=\"custom-option\" data-value=\"+39\" data-flag=\"it\" role=\"option\" aria-selected=\"false\" tabindex=\"0\">\n                            <img src=\"https://flagcdn.com/24x18/it.png\" alt=\"Itália\">Itália (+39)\n                        </div>\n                        <div class=\"custom-option\" data-value=\"+81\" data-flag=\"jp\" role=\"option\" aria-selected=\"false\" tabindex=\"0\">\n                            <img src=\"https://flagcdn.com/24x18/jp.png\" alt=\"Japão\">Japão (+81)\n                        </div>\n                        <div class=\"custom-option\" data-value=\"+86\" data-flag=\"cn\" role=\"option\" aria-selected=\"false\" tabindex=\"0\">\n                            <img src=\"https://flagcdn.com/24x18/cn.png\" alt=\"China\">China (+86)\n                        </div>\n                        <div class=\"custom-option\" data-value=\"+61\" data-flag=\"au\" role=\"option\" aria-selected=\"false\" tabindex=\"0\">\n                            <img src=\"https://flagcdn.com/24x18/au.png\" alt=\"Austrália\">Austrália (+61)\n                        </div>\n                        <!-- Adicione mais opções conforme necessário -->\n                    </div>\n\n                    <!-- Campo de Telefone -->\n                    <input type=\"tel\" id=\"contact\" name=\"contact\" class=\"phone-input\" required placeholder=\"Digite seu telefone\" aria-required=\"true\" pattern=\"^\\+\\d{1,3}\\s?\\d{4,14}(?:x.+)?$\" title=\"Formato: +Código País Número\">\n                </div>\n            </div>\n            <button type=\"submit\">Enviar</button>\n        </form>\n    </div>\n    <div class=\"thank-you\" id=\"thankYouContainer\" role=\"alert\" aria-live=\"assertive\">\n        <h2>Obrigado pelo seu contato!</h2>\n        <p class=\"thank-you-message\">Agradecemos por entrar em contato. Em instantes, nossa equipe retornará para você no WhatsApp!</p>\n        <button type=\"button\" onclick=\"closeThankYou()\">OK</button>\n    </div>\n    <script>\n        document.addEventListener('DOMContentLoaded', () => {\n            const contactForm = document.getElementById('contactForm');\n            const thankYouContainer = document.getElementById('thankYouContainer');\n            const formContainer = document.getElementById('formContainer');\n            const customSelect = document.getElementById('customSelect');\n            const customOptions = document.getElementById('customOptions');\n            const currentFlag = document.getElementById('currentFlag');\n            const phoneInput = document.getElementById('contact');\n\n            let selectedCountryCode = '+55'; // Valor padrão\n\n            // Função para abrir/fechar o dropdown\n            const toggleDropdown = () => {\n                const expanded = customSelect.getAttribute('aria-expanded') === 'true';\n                customSelect.setAttribute('aria-expanded', !expanded);\n                customOptions.style.display = expanded ? 'none' : 'block';\n            };\n\n            // Abrir/fechar o dropdown ao clicar ou pressionar Enter/Space\n            customSelect.addEventListener('click', toggleDropdown);\n            customSelect.addEventListener('keydown', (e) => {\n                if (e.key === 'Enter' || e.key === ' ') {\n                    e.preventDefault();\n                    toggleDropdown();\n                }\n            });\n\n            // Fechar o dropdown ao clicar fora\n            document.addEventListener('click', (e) => {\n                if (!customSelect.contains(e.target) && !customOptions.contains(e.target)) {\n                    customSelect.setAttribute('aria-expanded', 'false');\n                    customOptions.style.display = 'none';\n                }\n            });\n\n            // Selecionar uma opção\n            customOptions.querySelectorAll('.custom-option').forEach(option => {\n                const selectOption = () => {\n                    const flagSrc = option.querySelector('img').src;\n                    const countryName = option.querySelector('img').alt;\n                    const countryCode = option.getAttribute('data-value');\n\n                    // Atualizar a bandeira no seletor\n                    currentFlag.src = flagSrc;\n                    currentFlag.alt = countryName;\n\n                    // Atualizar o valor do seletor de país\n                    selectedCountryCode = countryCode;\n\n                    // Atualizar o campo de telefone com o código do país\n                    const currentValue = phoneInput.value;\n                    // Remover código de país anterior\n                    const newValue = currentValue.replace(/^\\+\\d{1,3}\\s?/, '');\n                    phoneInput.value = countryCode + ' ' + newValue;\n\n                    // Atualizar ARIA\n                    customOptions.querySelectorAll('.custom-option').forEach(opt => opt.setAttribute('aria-selected', 'false'));\n                    option.setAttribute('aria-selected', 'true');\n\n                    // Fechar o dropdown\n                    customSelect.setAttribute('aria-expanded', 'false');\n                    customOptions.style.display = 'none';\n\n                    // Focar no campo de telefone após seleção\n                    phoneInput.focus();\n                };\n\n                option.addEventListener('click', selectOption);\n                option.addEventListener('keydown', (e) => {\n                    if (e.key === 'Enter' || e.key === ' ') {\n                        e.preventDefault();\n                        selectOption();\n                    }\n                });\n            });\n\n            // Manipulação do Formulário\n            contactForm.addEventListener('submit', (e) => {\n                e.preventDefault();\n                // Aqui você pode adicionar validações adicionais se necessário\n\n                // Enviar o formulário via Fetch API ou outro método\n                const formData = new FormData(contactForm);\n                fetch(contactForm.action, {\n                    method: contactForm.method,\n                    body: formData,\n                })\n                .then(response => {\n                    if (response.ok) {\n                        // Mostrar mensagem de agradecimento\n                        formContainer.style.display = 'none';\n                        thankYouContainer.style.display = 'block';\n                    } else {\n                        // Tratar erros de resposta\n                        alert('Houve um problema ao enviar o formulário. Por favor, tente novamente.');\n                    }\n                })\n                .catch(error => {\n                    console.error('Erro:', error);\n                    alert('Houve um problema ao enviar o formulário. Por favor, tente novamente.');\n                });\n            });\n\n            // Função para fechar a mensagem de agradecimento\n            window.closeThankYou = () => {\n                thankYouContainer.style.display = 'none';\n                formContainer.style.display = 'block';\n                contactForm.reset();\n                // Resetar a bandeira e o código do país para o padrão\n                currentFlag.src = 'https://flagcdn.com/24x18/br.png';\n                currentFlag.alt = 'Brasil';\n                selectedCountryCode = '+55';\n            };\n        });\n    </script>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -700,
        -380
      ],
      "id": "5f844631-1b40-4535-ac10-3ad775f88c84",
      "name": "HTML"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -520,
        -380
      ],
      "id": "440d5b00-af6e-41dc-abad-4c34df6ee6cd",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Serve Frontend": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "63199080-a056-4efd-ac00-89f58b8125fc",
  "triggerCount": 2,
  "tags": []
}