work-x/pyBuiGTm2KmmShnP.json
{
  "data": {
    "createdAt": "2024-10-07T18:36:21.686Z",
    "updatedAt": "2024-10-17T13:04:03.794Z",
    "id": "pyBuiGTm2KmmShnP",
    "name": "chat bot whats com audio",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ee84f456-184e-4653-897f-bab681035d2c",
                "name": "text_field",
                "value": "={{ $json.body.data.messageType }}",
                "type": "string"
              },
              {
                "id": "4995e703-cd96-4ecf-973a-fa4be5798433",
                "name": "sessionid",
                "value": "={{ $json.body.sender }}",
                "type": "string"
              },
              {
                "id": "74a27101-2656-4049-a623-836b2189559a",
                "name": "sessionid_jid",
                "value": "={{ $json.body.data.key.remoteJid }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "bfdb6542-2ec7-4ceb-a451-aaaa513183d6",
        "name": "mensagem de texto",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          460,
          700
        ]
      },
      {
        "parameters": {
          "model": "gpt-4o-mini",
          "options": {}
        },
        "id": "defc915b-9764-476d-a9aa-4f48b57f3454",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          560,
          920
        ],
        "credentials": {
          "openAiApi": {
            "id": "RhJGnAesg7rbO4uq",
            "name": "primeiro assistent"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "163145",
          "contextWindowLength": 20
        },
        "id": "f196ac1e-3fae-4ee4-9657-56838ea389e4",
        "name": "Window Buffer Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.2,
        "position": [
          720,
          920
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8659f415-d1dc-44bc-bb95-86bf324b7e68",
                "name": "base64",
                "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "75b39f6a-f752-4d79-94f6-1a3144d67645",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          460,
          460
        ]
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "base64",
          "options": {
            "fileName": "audio.mp3",
            "mimeType": "audio/mpeg"
          }
        },
        "id": "ee6e2c77-d760-4c30-9224-702cc6fcd691",
        "name": "Convert to File",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          640,
          460
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "31caa2c1-2df6-40ce-bfa9-1327c9b8fbe3",
                "name": "text_field",
                "value": "={{ $json.text }}",
                "type": "string"
              },
              {
                "id": "d81f33df-4ab5-42e2-8af4-44bbbf4e107b",
                "name": "sessionid",
                "value": "={{ $('Webhook').item.json.body.data.key.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "ab537c80-2628-433f-8249-e114ef9d55cf",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1000,
          460
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.data.messageType }}",
                      "rightValue": "audioMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "audio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "21be55bc-6079-42d8-87db-5bc9b916645e",
                      "leftValue": "={{ $json.body.data.messageType }}",
                      "rightValue": "conversation",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "conversation"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "07a2b18f-712a-406b-ab04-39f47cae63ba",
                      "leftValue": "={{ $json.body.data.messageType }}",
                      "rightValue": "extendedTextMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "text"
              }
            ]
          },
          "options": {}
        },
        "id": "9f09e595-d1c8-4e84-9fe5-e40401053dbe",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.1,
        "position": [
          200,
          580
        ]
      },
      {
        "parameters": {
          "operation": "text",
          "options": {
            "encoding": "base64"
          }
        },
        "id": "83f15eee-4e0f-47ea-9a7c-203bdfc949a8",
        "name": "Extract from File",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1400,
          460
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                      "rightValue": "audioMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "audio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "bf59cad4-ff64-494f-80f6-7d3f0a86dc9f",
                      "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                      "rightValue": "extendedTextMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "text"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "eed42906-12ab-460c-a154-10d57f3259ca",
                      "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                      "rightValue": "conversation",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "conversation"
              }
            ]
          },
          "options": {}
        },
        "id": "46d50ccd-64ab-4ae0-8626-45be6a6e8f98",
        "name": "Switch1",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.1,
        "position": [
          1000,
          700
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://automation-evolution-app.nzix4c.easypanel.host/message/sendText/teste",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "6BFC33AAF525-43DD-897F-9D48618D08DD"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
              },
              {
                "name": "text",
                "value": "={{ $json.output }}"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "id": "7e250220-f25b-411f-8b9e-27c8e084c082",
        "name": "Retorno EVO",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1240,
          700
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://evo-evolution-app.tkbczu.easypanel.host/message/sendWhatsAppAudio/teste",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "BE8510C8CFE4-4CED-958D-5394E78C88C2"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
              },
              {
                "name": "audio",
                "value": "={{ $json.data }}"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "id": "7aa25ceb-c559-4bab-ac92-2b913abbba4a",
        "name": "Retorno EVO audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1600,
          460
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "4b69ecdf-8b6d-4570-b06d-2a317b9a7b1a",
                "leftValue": "={{ $json.body.data.message.conversation }}",
                "rightValue": "/",
                "operator": {
                  "type": "string",
                  "operation": "startsWith"
                }
              },
              {
                "id": "26cfaaed-0e8d-4c97-a027-d29982a8f132",
                "leftValue": "={{ $json.body.data.message.extendedTextMessage.text }}",
                "rightValue": "/",
                "operator": {
                  "type": "string",
                  "operation": "startsWith"
                }
              },
              {
                "id": "5a183834-4ea6-4899-83b5-3f247f6c1d6b",
                "leftValue": "={{ $json.body.data.messageType }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "id": "37580a81-0fab-40db-916f-68a30542adc5",
        "name": "If",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.1,
        "position": [
          -20,
          600
        ]
      },
      {
        "parameters": {},
        "id": "14c6cd95-e131-44b7-9a34-ce3f46f3463a",
        "name": "Wikipedia",
        "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
        "typeVersion": 1,
        "position": [
          900,
          920
        ]
      },
      {
        "parameters": {
          "agent": "openAiFunctionsAgent",
          "promptType": "define",
          "text": "={{ $json.text_field }}",
          "options": {
            "systemMessage": "voce é uma assistente virtual que responde todos os tipos de perguntas de forma gentil e delicada"
          }
        },
        "id": "16b4b0a2-0398-4f93-92ca-9960571f51e5",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          660,
          700
        ]
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "id": "47eb1364-fd49-43ac-b09e-14271f7429de",
        "name": "OpenAI",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.4,
        "position": [
          820,
          460
        ],
        "credentials": {
          "openAiApi": {
            "id": "RhJGnAesg7rbO4uq",
            "name": "primeiro assistent"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "fluxoaudio",
          "options": {}
        },
        "id": "b0052d30-7915-4db4-b83b-f234ebf7be8e",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -260,
          600
        ],
        "webhookId": "307db7e4-26b8-4ba4-9cd6-e8cc4377c61c"
      },
      {
        "parameters": {
          "resource": "audio",
          "input": "={{ $json.output }}",
          "voice": "nova",
          "options": {}
        },
        "id": "1b38117e-6819-4b19-b452-d79fb617df1a",
        "name": "OpenAI1",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.4,
        "position": [
          1220,
          460
        ],
        "credentials": {
          "openAiApi": {
            "id": "RhJGnAesg7rbO4uq",
            "name": "primeiro assistent"
          }
        }
      }
    ],
    "connections": {
      "mensagem de texto": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "mensagem de texto",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "mensagem de texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Retorno EVO audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "OpenAI1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Retorno EVO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Retorno EVO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "mensagem de texto",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wikipedia": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI1": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "748586b2-c3e8-4d28-ac61-5d925cce719c",
    "triggerCount": 0,
    "tags": []
  }
}