work-x/q7pACElrquWRqBks.json
{
  "createdAt": "2024-10-30T12:47:56.785Z",
  "updatedAt": "2024-10-30T13:53:17.925Z",
  "id": "q7pACElrquWRqBks",
  "name": "restore workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "746c45d7-7169-4146-a999-44c2d9a76a2b",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        820,
        380
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repository }}",
          "mode": "name"
        },
        "filePath": "={{ $json.file }}",
        "additionalParameters": {
          "reference": "={{ $json.version }}"
        }
      },
      "id": "3b3396fa-aa8f-49b3-91cc-d3e3171242e9",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1180,
        380
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "tmlVcAaS7zF2bEP1",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "c091b6b1-aafe-42d0-ac23-de4558c042ce",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1360,
        380
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.data.id }}",
          "mode": "id"
        },
        "workflowObject": "={{ JSON.stringify($json.data)}}",
        "requestOptions": {}
      },
      "id": "d65f8f35-cb50-4a55-9eee-922d6e1c0f57",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1540,
        380
      ],
      "credentials": {
        "n8nApi": {
          "id": "LlPyWlmkvcik6Uew",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "584cbc47-3edb-440b-abb2-e45e1d92c383",
              "name": "owner",
              "value": "ralfiischer",
              "type": "string"
            },
            {
              "id": "4abf4065-0c49-428d-a084-08d2e82dd7f9",
              "name": "repository",
              "value": "workflows",
              "type": "string"
            },
            {
              "id": "d0a76906-00e1-45c8-97c8-b6d3b41ed26b",
              "name": "file",
              "value": "work-x/7VeeM3ZFj7ag2A3A.json",
              "type": "string"
            },
            {
              "id": "2d3ef66e-f692-4bdc-b3a2-ad1f621c60e4",
              "name": "version",
              "value": "c323f14a05c3b1e8c67674811c1f7805e4589de0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9def794d-fd2a-48d7-979b-e2d245d9a645",
      "name": "infos basic1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        380
      ]
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "infos basic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "infos basic1": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a03e5318-dfa6-4ea5-a4b1-bcbc193502cb",
  "triggerCount": 0,
  "tags": []
}