work-x/q7pACElrquWRqBks.json
{
  "createdAt": "2024-10-30T12:47:56.785Z",
  "updatedAt": "2024-10-30T13:03:31.175Z",
  "id": "q7pACElrquWRqBks",
  "name": "restore workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "746c45d7-7169-4146-a999-44c2d9a76a2b",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        820,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f906b8e4-e551-49a6-b957-529377dcd3e9",
              "name": "arquivo",
              "value": "work-x /FCD1OW3uiL8NFHQi.json",
              "type": "string"
            },
            {
              "id": "8a25786c-36b2-4b11-961c-6e737363b2ab",
              "name": "dono",
              "value": "ralfiischer",
              "type": "string"
            },
            {
              "id": "575be1f9-307b-4c2b-8dd7-654f16124f7b",
              "name": "repositorio",
              "value": "workflows",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "78ae3273-6ba9-43c6-91b0-8007b9309d49",
      "name": "infos basic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        380
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.dono }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repositorio }}",
          "mode": "name"
        },
        "filePath": "={{ $json.arquivo }}",
        "additionalParameters": {}
      },
      "id": "3b3396fa-aa8f-49b3-91cc-d3e3171242e9",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1180,
        380
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "tmlVcAaS7zF2bEP1",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "c091b6b1-aafe-42d0-ac23-de4558c042ce",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1360,
        380
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.data.id }}",
          "mode": "id"
        },
        "workflowObject": "={{ JSON.STRINGIFY($json.data)}}",
        "requestOptions": {}
      },
      "id": "d65f8f35-cb50-4a55-9eee-922d6e1c0f57",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1580,
        380
      ],
      "credentials": {
        "n8nApi": {
          "id": "LlPyWlmkvcik6Uew",
          "name": "n8n account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "infos basic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "infos basic": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cb8619f0-11e5-4433-9c79-1ff421058601",
  "triggerCount": 0,
  "tags": []
}