work-x/W3QJTzbQDINGnmUC.json
{
  "createdAt": "2024-12-02T12:38:52.870Z",
  "updatedAt": "2024-12-04T14:56:14.578Z",
  "id": "W3QJTzbQDINGnmUC",
  "name": "Generator QR CODE EVO",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Gerador de QR Code</title>\n    <style>\n        body {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n            font-family: Arial, sans-serif;\n            background: url('https://files.oaiusercontent.com/file-WKv8mqtV1ihYyn48gppPa3?se=2024-12-02T18%3A10%3A11Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D1a74d1ad-b39c-4465-8723-c9e2a26f3e66.webp&sig=IxASB8D682XCMsDmdbYbkM36Ae5%2BdmUPvOboorDvnuc%3D') no-repeat center center/cover;\n            height: 100vh;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n        }\n\n        .container {\n            background: rgba(255, 255, 255, 0.9);\n            padding: 20px 30px;\n            border-radius: 10px;\n            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);\n            text-align: center;\n            max-width: 400px;\n            width: 100%;\n        }\n\n        h1 {\n            font-size: 24px;\n            margin-bottom: 20px;\n            color: #333;\n        }\n\n        .input-group {\n            margin-bottom: 15px;\n        }\n\n        label {\n            display: block;\n            font-size: 14px;\n            font-weight: bold;\n            margin-bottom: 5px;\n            color: #555;\n        }\n\n        input[type=\"text\"] {\n            width: 100%;\n            padding: 10px;\n            font-size: 16px;\n            border: 1px solid #ccc;\n            border-radius: 5px;\n            outline: none;\n            transition: border-color 0.3s ease;\n        }\n\n        input[type=\"text\"]:focus {\n            border-color: #4CAF50;\n        }\n\n        button {\n            background-color: #4CAF50;\n            color: white;\n            border: none;\n            padding: 10px 20px;\n            font-size: 16px;\n            font-weight: bold;\n            border-radius: 5px;\n            cursor: pointer;\n            transition: background-color 0.3s ease;\n        }\n\n        button:hover {\n            background-color: #45a049;\n        }\n\n        #qrCodeImage {\n            margin-top: 20px;\n            display: none;\n            max-width: 100%;\n            height: auto;\n            margin-left: auto;\n            margin-right: auto;\n        }\n\n        #loadingMessage {\n            margin-top: 10px;\n            font-size: 14px;\n            color: #555;\n            display: none;\n        }\n\n        #statusMessage {\n            margin-top: 10px;\n            font-size: 14px;\n            color: #555;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Gerador de QR Code</h1>\n        <div class=\"input-group\">\n            <label for=\"instanceName\">Nome da Instância</label>\n            <input type=\"text\" id=\"instanceName\" placeholder=\"Digite o nome da instância\">\n        </div>\n        <button onclick=\"generateQRCode()\">Gerar QR Code</button>\n        <p id=\"loadingMessage\">Gerando o QR Code, por favor aguarde...</p>\n        <img id=\"qrCodeImage\" src=\"\" alt=\"QR Code Gerado\">\n        <p id=\"statusMessage\"></p>\n    </div>\n\n    <script>\n        let statusInterval;\n\n        async function generateQRCode() {\n            const instanceName = document.getElementById('instanceName').value.trim();\n            const loadingMessage = document.getElementById('loadingMessage');\n            const qrCodeImage = document.getElementById('qrCodeImage');\n            const statusMessage = document.getElementById('statusMessage');\n\n            if (!instanceName) {\n                alert('Por favor, insira o nome da instância.');\n                return;\n            }\n\n            // Mostra a mensagem de carregamento e oculta a imagem enquanto carrega\n            loadingMessage.style.display = 'block';\n            qrCodeImage.style.display = 'none';\n            statusMessage.textContent = '';\n\n            try {\n                const response = await fetch('https://n8n-n8n-webhook.tkbczu.easypanel.host/webhook/reconect', {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify({ instanceName }),\n                });\n\n                if (!response.ok) {\n                    throw new Error(`Erro na requisição: ${response.statusText}`);\n                }\n\n                const blob = await response.blob();\n                qrCodeImage.src = URL.createObjectURL(blob);\n                qrCodeImage.style.display = 'block';\n\n                // Aguarda 15 segundos antes de iniciar a verificação do status\n                setTimeout(() => {\n                    updateStatus(instanceName);\n                }, 15000);\n            } catch (error) {\n                alert(`Erro ao gerar o QR Code: ${error.message}`);\n                console.error(error);\n            } finally {\n                // Oculta a mensagem de carregamento\n                loadingMessage.style.display = 'none';\n            }\n        }\n\n        async function updateStatus(instanceName) {\n            try {\n                const response = await fetch('https://n8n-n8n-webhook.tkbczu.easypanel.host/webhook/atualizastatus', {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify({ instanceName }),\n                });\n\n                if (!response.ok) {\n                    throw new Error(`Erro ao atualizar status: ${response.statusText}`);\n                }\n\n                // Inicia a verificação do status\n                checkStatus(instanceName);\n            } catch (error) {\n                alert(`Erro ao atualizar status: ${error.message}`);\n                console.error(error);\n            }\n        }\n\n        async function checkStatus(instanceName) {\n            const statusMessage = document.getElementById('statusMessage');\n\n            statusInterval = setInterval(async () => {\n                try {\n                    const response = await fetch(`https://n8n-n8n-webhook.tkbczu.easypanel.host/webhook/atualizastatus?instanceName=${instanceName}`);\n\n                    if (!response.ok) {\n                        throw new Error(`Erro ao verificar status: ${response.statusText}`);\n                    }\n\n                    const { status } = await response.json();\n\n                    // Atualiza a mensagem de status\n                    statusMessage.textContent = `Status da Instância: ${status}`;\n\n                    // Para a verificação se o status for 'connecting'\n                    if (status.toLowerCase() === 'connecting') {\n                        clearInterval(statusInterval);\n                        alert('A instância está conectando.');\n                    }\n                } catch (error) {\n                    console.error(`Erro ao verificar status: ${error.message}`);\n                }\n            }, 5000); // Verifica o status a cada 5 segundos\n        }\n    </script>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        520,
        600
      ],
      "id": "1ad0d470-c109-4131-94bd-1b7727124299",
      "name": "HTML"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        600
      ],
      "id": "8b9b3dfa-9c33-47bb-99ef-5b05a38a7ea6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "instanciaevolution",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        340,
        600
      ],
      "id": "c8dd70be-88c9-4494-836b-ba641ed5f48d",
      "name": "Pagina do QR code",
      "webhookId": "cce5e6b5-f99a-48a3-8b18-cf524f03c4ce"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "criar-instancia-evolution",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        800
      ],
      "id": "c6f19b28-bbf9-4485-8086-25be6cb8e2c9",
      "name": "criar-instancia-evolution",
      "webhookId": "f3988766-f52b-4be0-b0bd-254e485671a3",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        800
      ],
      "id": "46b68f27-8d8f-4802-878b-2e4071ea0ec9",
      "name": "Respond to Webhook3",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo-evo.tkbczu.easypanel.host/instance/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "PJMX6JKOxNit5icPyHv4IsSk2qLEq4NGb"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instanceName",
              "value": "={{ $json.body.instanceName }}"
            },
            {
              "name": "qrcode",
              "value": true
            },
            {
              "name": "integration",
              "value": "WHATSAPP-BAILEYS"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        800
      ],
      "id": "66e3c646-aede-4db8-b011-afbd3c88b7f3",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "baf05207-7b62-41a6-8c11-d4fff7f70843",
              "name": "base64",
              "value": "={{ $json.qrcode.base64.split(\",\").last() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        800
      ],
      "id": "56adabfa-c973-49bb-bb03-369cbff2473f",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        600,
        800
      ],
      "id": "639f6275-1b1b-40da-a60d-4909b9ce0b9a",
      "name": "Convert to File",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        1080
      ],
      "id": "913af81b-31e2-488c-8a70-9e168b58a8ae",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "url": "=https://evo-evo.tkbczu.easypanel.host/instance/connect/{{ $json.body.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "PJMX6JKOxNit5icPyHv4IsSk2qLEq4NGb"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        1080
      ],
      "id": "304154c6-07ec-4abb-ad3d-3b4ce7c6ed76",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "baf05207-7b62-41a6-8c11-d4fff7f70843",
              "name": "base64",
              "value": "={{ $json.base64.split(',').last() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        1080
      ],
      "id": "b0231436-7de9-42dc-86be-9db31def7e09",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        840,
        1080
      ],
      "id": "b0a31ce9-afa4-4eff-9f27-fe8b6d1774d0",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reconect",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        1080
      ],
      "id": "6c669644-9cbc-4958-8ab3-4d28594bc55a",
      "name": "reconecta evo",
      "webhookId": "f3988766-f52b-4be0-b0bd-254e485671a3"
    },
    {
      "parameters": {
        "url": "=https://evo-evo.tkbczu.easypanel.host/instance/connectionState/{{ $json.body.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "PJMX6JKOxNit5icPyHv4IsSk2qLEq4NGb"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        1280
      ],
      "id": "1d9dd6cb-0ba0-4553-b6d0-832333a062f0",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "content": "Gera QR code para reconexão da instancia EVO",
        "height": 180,
        "width": 980
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        1040
      ],
      "typeVersion": 1,
      "id": "7540159e-1ac5-4bad-bc96-5348456181bc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Cria nova instancia na EVO\n",
        "height": 180,
        "width": 960,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        760
      ],
      "typeVersion": 1,
      "id": "a9dc9152-ab04-4013-aebb-2bad9cb5a5c1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Response HTML com gerador de QR code\n",
        "height": 180,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        560
      ],
      "typeVersion": 1,
      "id": "0290f5f0-afc0-434d-8c0a-5705f5cafbdf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atualizastatus",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        1280
      ],
      "id": "5b68a5eb-ce10-4bf4-8849-2004c7604989",
      "name": "Atualiza Status",
      "webhookId": "771fde8e-e0cc-4e91-9afe-ce44d36a0cb7"
    }
  ],
  "connections": {
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagina do QR code": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criar-instancia-evolution": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook4": {
      "main": [
        []
      ]
    },
    "reconecta evo": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Atualiza Status": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9dd5f342-7497-4749-bac5-2560ecd0df5a",
  "triggerCount": 3,
  "tags": []
}