work-x/YtEowEVOPoGpmWRT.json
{
  "createdAt": "2024-10-31T13:51:33.061Z",
  "updatedAt": "2024-11-06T14:59:09.425Z",
  "id": "YtEowEVOPoGpmWRT",
  "name": "Retorno Texto EVO",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "2993c820-73ed-449a-9b53-e654cba2a95b",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        40,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da86ae4f-8f39-4876-b718-06741e9af92b",
              "name": "message_id",
              "value": "={{ $json.message.message_id }}",
              "type": "string"
            },
            {
              "id": "ddbb9b79-1877-4d16-a9bc-46ac17c65a8c",
              "name": "chat_id",
              "value": "={{ $json.message.chat_id }}",
              "type": "string"
            },
            {
              "id": "72f0ad61-e1e1-41ec-8203-a0bf9df4938a",
              "name": "content_type",
              "value": "={{ $json.message.content_type }}",
              "type": "string"
            },
            {
              "id": "2fb4b44f-1fe8-49cd-bb02-ef4456a82f2c",
              "name": "content",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "b878c73a-a316-4dd9-baf1-76a1b1916d0a",
              "name": "timestamp",
              "value": "={{ $json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "14c77a4a-b111-4e7c-937a-232ef568db81",
              "name": "content_url",
              "value": "={{ $json.message.content_url }}",
              "type": "string"
            },
            {
              "id": "9858f546-17db-4317-aca1-694ddaa0c6bb",
              "name": "event",
              "value": "={{ $json.message.event }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3139e98f-b23a-43e3-ad36-7d82be3223aa",
      "name": "normalizacao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo-evolution-app.tkbczu.easypanel.host/message/sendText/teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "BE8510C8CFE4-4CED-958D-5394E78C88C2"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('normalizacao').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}{{ $json.message.content }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "95464fae-4242-4395-a518-fd190146ad7f",
      "name": "Retorno EVO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        1040
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "375bca62-f8c1-49d2-8761-19f7ccdc9d97",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1060,
        1180
      ],
      "credentials": {
        "openAiApi": {
          "id": "RhJGnAesg7rbO4uq",
          "name": "primeiro assistent"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "obtem informações do site da afill",
        "url": "https://afill.com.br",
        "optimizeResponse": true,
        "responseType": "text"
      },
      "id": "4c6066c0-9fc9-4171-8a4a-c298501a1556",
      "name": "base de conhecimento",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1260,
        1180
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('normalizacao').item.json.chat_id }}",
        "tableName": "reponseformulario"
      },
      "id": "c932585b-da67-4e02-936d-1a13d1e31f60",
      "name": "Postgres Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        1200,
        1260
      ],
      "credentials": {
        "postgres": {
          "id": "bX6ggeCJ75wvYGES",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "={\n  \"assistant_behavior\": {\n    \"response_general_questions\": {\n      \"enabled\": true,\n      \"response_style\": {\n        \"summary\": true,\n        \"informative\": true\n      },\n      \"tool_usage\": {\n        \"use_tools\": false,\n        \"details_hidden\": true\n      }\n    },\n    \"response_afill_queries\": {\n      \"enabled\": true,\n      \"tool_usage\": {\n        \"use_tools\": true,\n        \"information_source\": \"tools\"\n      },\n      \"response_strategy\": {\n        \"summary\": true,\n        \"informative\": true\n      },\n      \"disclosure\": {\n        \"tool_usage_hidden\": true\n      }\n    },\n    \"recommend_import_systems\": {\n      \"enabled\": true,\n      \"recommendation\": {\n        \"system\": \"Afill\",\n        \"website\": \"https://www.afill.com.br\"\n      }\n    },\n    \"disallowed_information\": {\n      \"tool_usage_details\": false,\n      \"internal_policies\": true\n    }\n  }\n}\n"
        }
      },
      "id": "670c86ed-ce78-4fc9-ae84-7a70e1060ebb",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1080,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "reponseformulario",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $json.chat_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        420,
        540
      ],
      "id": "6618ea43-76de-496d-8fb5-28325d279b3a",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "xGKs5yYdHLqCN239",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "0caec3d8-6f4a-4366-be90-6145b647848a",
              "leftValue": "={{ !!Object.keys($node[\"Supabase\"].data).length }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "aed39db2-d4ec-4848-a28f-0f8ed5625481",
      "name": "usuario existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        600,
        540
      ]
    },
    {
      "parameters": {
        "tableId": "reponseformulario",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.session_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        820,
        440
      ],
      "id": "c83c0dde-4804-4a45-84d8-1c20781a811c",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "xGKs5yYdHLqCN239",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1060,
        460
      ],
      "id": "b81fe647-ad69-474f-8e17-1a53cd5aadbf",
      "name": "Merge"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "normalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "base de conhecimento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Retorno EVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "normalizacao": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "usuario existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "usuario existe?": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "message": {
            "message_id": "3FCA30BB7F4F234793FA",
            "chat_id": "554799471522@s.whatsapp.net",
            "content_type": "text",
            "content": "salveeee",
            "timestamp": "2024-11-06T10:56:07.000-03:00",
            "content_url": "",
            "event": "incoming"
          }
        }
      }
    ]
  },
  "versionId": "1e0bd119-2cf2-4af3-81f9-d1e2d4d1491e",
  "triggerCount": 0,
  "tags": []
}