work-x/YtEowEVOPoGpmWRT.json
{
  "createdAt": "2024-10-31T13:51:33.061Z",
  "updatedAt": "2025-01-28T19:12:06.331Z",
  "id": "YtEowEVOPoGpmWRT",
  "name": "Retorno Texto EVO",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "2993c820-73ed-449a-9b53-e654cba2a95b",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        60,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da86ae4f-8f39-4876-b718-06741e9af92b",
              "name": "message_id",
              "value": "={{ $json.message.message_id }}",
              "type": "string"
            },
            {
              "id": "ddbb9b79-1877-4d16-a9bc-46ac17c65a8c",
              "name": "chat_id",
              "value": "={{ $json.message.chat_id }}",
              "type": "string"
            },
            {
              "id": "72f0ad61-e1e1-41ec-8203-a0bf9df4938a",
              "name": "content_type",
              "value": "={{ $json.message.content_type }}",
              "type": "string"
            },
            {
              "id": "2fb4b44f-1fe8-49cd-bb02-ef4456a82f2c",
              "name": "content",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "b878c73a-a316-4dd9-baf1-76a1b1916d0a",
              "name": "timestamp",
              "value": "={{ $json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "14c77a4a-b111-4e7c-937a-232ef568db81",
              "name": "content_url",
              "value": "={{ $json.message.content_url }}",
              "type": "string"
            },
            {
              "id": "9858f546-17db-4317-aca1-694ddaa0c6bb",
              "name": "event",
              "value": "={{ $json.message.event }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3139e98f-b23a-43e3-ad36-7d82be3223aa",
      "name": "normalizacao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo-evolution-app.tkbczu.easypanel.host/message/sendText/teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "C9556462-1EA0-4300-A959-9C6C0FDFA177"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('normalizacao').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}{{ $json.message.content }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "95464fae-4242-4395-a518-fd190146ad7f",
      "name": "Retorno EVO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "375bca62-f8c1-49d2-8761-19f7ccdc9d97",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        500,
        680
      ],
      "credentials": {
        "openAiApi": {
          "id": "RhJGnAesg7rbO4uq",
          "name": "primeiro assistent"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "obtem informações do site da afill",
        "url": "https://afill.com.br",
        "optimizeResponse": true,
        "responseType": "text"
      },
      "id": "4c6066c0-9fc9-4171-8a4a-c298501a1556",
      "name": "base de conhecimento",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        700,
        680
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('normalizacao').item.json.chat_id }}",
        "tableName": "reponseformulario2"
      },
      "id": "c932585b-da67-4e02-936d-1a13d1e31f60",
      "name": "Postgres Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        600,
        720
      ],
      "credentials": {
        "postgres": {
          "id": "bX6ggeCJ75wvYGES",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "={\n  \"assistant_behavior\": {\n    \"response_general_questions\": {\n      \"enabled\": true,\n      \"response_style\": {\n        \"summary\": true,\n        \"informative\": true\n      },\n      \"tool_usage\": {\n        \"use_tools\": false,\n        \"details_hidden\": true\n      }\n    },\n    \"response_afill_queries\": {\n      \"enabled\": true,\n      \"tool_usage\": {\n        \"use_tools\": true,\n        \"information_source\": \"tools\"\n      },\n      \"response_strategy\": {\n        \"summary\": true,\n        \"informative\": true\n      },\n      \"disclosure\": {\n        \"tool_usage_hidden\": true\n      }\n    },\n    \"recommend_import_systems\": {\n      \"enabled\": true,\n      \"recommendation\": {\n        \"system\": \"Afill\",\n        \"website\": \"https://www.afill.com.br\"\n      }\n    },\n    \"disallowed_information\": {\n      \"tool_usage_details\": false,\n      \"internal_policies\": true\n    }\n  }\n}\n"
        }
      },
      "id": "670c86ed-ce78-4fc9-ae84-7a70e1060ebb",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        520,
        540
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "normalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "base de conhecimento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Retorno EVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "normalizacao": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b8ed0451-ed7c-4d6a-b92f-7822c22c2745",
  "triggerCount": 0,
  "tags": []
}